.w3-metro-light-green {
  color: #fff;
  background-color: #99b433
}

.w3-metro-green {
  color: #fff;
  background-color: #00a300
}

.w3-metro-dark-green {
  color: #fff;
  background-color: #1e7145
}

.w3-metro-magenta {
  color: #fff;
  background-color: #ff0097
}

.w3-metro-light-purple {
  color: #fff;
  background-color: #9f00a7
}

.w3-metro-purple {
  color: #fff;
  background-color: #7e3878
}

.w3-metro-dark-purple {
  color: #fff;
  background-color: #603cba
}

.w3-metro-darken {
  color: #fff;
  background-color: #1d1d1d
}

.w3-metro-teal {
  color: #fff;
  background-color: #00aba9
}

.w3-metro-light-blue {
  color: #000;
  background-color: #eff4ff
}

.w3-metro-blue {
  color: #fff;
  background-color: #2d89ef
}

.w3-metro-dark-blue {
  color: #fff;
  background-color: #2b5797
}

.w3-metro-yellow {
  color: #fff;
  background-color: #ffc40d
}

.w3-metro-orange {
  color: #fff;
  background-color: #e3a21a
}

.w3-metro-dark-orange {
  color: #fff;
  background-color: #da532c
}

.w3-metro-red {
  color: #fff;
  background-color: #ee1111
}

.w3-metro-dark-red {
  color: #fff;
  background-color: #b91d47
}

.flex-container {
  display: flex;
}

.led {
  width: 16px;
  height: 16px;
  background-color: "rgb(100,100,100)";
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, .2) 0 -1px 2px 2px, inset #444444 0 -2px 4px;
  border-width: 2px;
}

.rfx-card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 16px;
  margin-top: 16px;
}

.rfx-bar {
  display: flex;
  align-items: center;
  height: 38px;
  width: 100%;
  padding-left: 8px;
}

.rfx-bar-item {
  margin: 0px 0px 0px 8px;
}

.rfx-footer {
  position: fixed;
  /* Set the navbar to fixed position */
  bottom: 0;
  /* Position the navbar at the bottom of the page */
  width: 100%;
  /* Full width */
  height: 36px;
}

.rfx-header {
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  height: 36px;
}

#OTA_wrapper {
  border: 2px solid #000;
  position: relative;
}

#OTA_wrapper div {
  border: 2px solid #000;
  position: absolute;
  display: none;
}


.rfx-input {
  font-family: 'Courier New', monospace;
  border: 1px solid #CCC;
  width: calc(100% - 5px);
  padding: 2px;
  font-size: 1.2rem;
}

.rfx-input[type="checkbox"] {
  width: auto;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 4px;
  background: #00a300;
}

.rfx-tab {
  padding: 8px;
}
input[type=checkbox] {
  margin:4px;
}


/* SLIDE THREE */
.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
  content: 'OFF';
  font: 12px/26px Arial, sans-serif;
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
  content: 'ON';
  font: 12px/26px Arial, sans-serif;
  color: #00bf00;
  position: absolute;
  left: 10px;
  z-index: 0;
  font-weight: bold;
}

.slideThree label {
  display: block;
  width: 34px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}


/* SQUARED TWO */
.squaredTwo {
  width: 28px;
  height: 28px;
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  margin: 20px auto;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}

.squaredTwo label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredTwo label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.fill-link{
  margin: 0px; display: block; width: 100%; height: 100%; 
}
li{
  
}
.rfx-console{
  
}